<div class="modal fade" tabindex="-1" id="AddOrganizationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="AddOrganizationModalForm">
                <div class="modal-header">
                    <h3 id="AddOrganizationModalTitle" class="modal-title">Add Organization</h3>

                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="Id" class="form-control" name="Id" value="0" />
                    <div class="mb-10">
                        <label class="form-label">Organization Name</label>
                        <input type="text" id="Name" class="form-control" name="Name" autocomplete="off">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="AddOrganizationModalFormSaveBtn" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>